<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>

</head>
<body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
        {% if not user.is_authenticated %}
      <a href="/signup">Sign Up</a>
      <a href="/signin">Sign In</a>
        {% else %}
      <a href="/signout">Log Out</a>
        {% endif %}
    </div>

    <form action="/signup" method="post">
        {% csrf_token %}
        <label for="firstname">First name</label>
        <input type="text" id="firstname" name="firstname" placeholder="Type a first name" required>
        <br>

        <label for="lastname">Last name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Type a last name" required>
        <br>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Type an e-mail" required>
        <br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Type a password" required>
        <br>

        <label for="password2">Confirm a password</label>
        <input type="password" id="password2" name="password2" placeholder="Type a password" required>
        <br>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>